body {
    background-color: azure;
}

/* change the background color */
.navbar-custom {
    background-color: #2c3e4f;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.footer {
    position: absolute;
    bottom: 0;
    display: none;
}

.content {
    margin-top: 1vh ;
    margin-bottom: 3vh;
}

tt {
    background-color: #f2f2f2;
    color: #444;
}

.donation {
    font-size: 2vw;
}

.footer p {
    font-size: 3vw;
}

/* Medium devices (landscape tablets, 768px and up)*/
@media only screen and (min-width: 768px) {
    .footer p {
        font-size: 10px;
    }
    .footer {
        position: absolute;
        bottom: 0;
        display: block;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) {
    .donation {
        float: right;
        font-size: 14px; 
    }

    .content {
        margin-top: 1vh ;
        margin-bottom: 5vh;
    }

    .footer {
        position: absolute;
        bottom: 0;
        display: block;
    }

    .footer p {
        font-size: 10px;
    }
}